.active
{
    color: white;
}
.socialMediaPairDiv, .socialMediaIndividualDiv
{
    display: flex;
}
.socialMediaIndividualDiv a
{
    /* margin-left: 100%/; */
}
.contactDetailsInContactUs
{
    text-align: center;
}
.contactDetailsInContactUsDiv
{
    padding-bottom: 5%;
}